<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Example Component</div>

                    <div class="card-body">
                        I'm an example component.
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    var Highcharts = require('highcharts');

    export default {
        name: 'app',
        data() {
            return {chart: null, series: []}
        },
        mounted() {
            this.drawChart();
            const self = this;
            axios.get('http://temper.d/api/chart').then(function (response) {
                // console.log(response.data.series);
                if (response.status === 200) {
                    self.series = response.data.series;
                    self.drawChart();
                }
            }).catch(function (err) {
                console.log(err)
            });
        },
        methods: {
            drawChart() {
                if (this.chart) {
                    this.chart.destroy();
                }
                this.chart = Highcharts.chart(this.$el, {
                    chart: { type: "line" },
                    title: {
                        text: 'Weekly Retention Curve',
                        x: -20 //center
                    },
                    yAxis: {
                        title: { text: "Total Onboarded"},
                        labels: { format: "{value}%" },
                        min: 0,
                        max: 100
                    },
                    xAxis: {
                        categories: [
                            '0 week later',
                            '1 week later',
                            '2 weeks later',
                            '3 weeks later',
                            '4 weeks later',
                            '5 weeks later',
                            '6 weeks later',
                            '7 weeks later',
                            '8 weeks later',
                            '9 weeks later',
                            '10 weeks later'
                        ]
                    },
                    tooltip: { valueSuffix: "%" },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },
                    series: this.series
                });
            }
        }
    }
</script>
